@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth; /* <-- ADD THIS LINE */
}

body {
  background-color: #0F1C20;
  color: #E0E6ED;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}